*{
  list-style: none;
  text-decoration: none;
  color: #666666;
}

.youtube a:hover{
  background: #ff0000;
  color: #ffffff;
  transition: 0.5s;
}
.naver a:hover{
  background: #00ff00;
  color: #ffffff;
  transition: 0.5s;
}
.google a:hover{
  background: #0000ff;
  color: #ffffff;
  transition: 0.5s;
}
